/* You can add global styles to this file, and also import other style files */


body{
    background-color: antiquewhite !important;
}

.codex-editor {
    background-color: white;
    padding: 20px;
    z-index: unset !important;

    .ce-block__content {

        .tc-wrap {
            .tc-table {
                border-left: 1px solid var(--color-border);
                border-color: rgba(0, 0, 0, 0.12);

                .tc-row,
                .tc-cell {
                    border-color: rgba(0, 0, 0, 0.12);
                }

                .tc-row:after {
                    border-bottom: none;
                }
            }

            .tc-add-column {
                border-top: none;
            }
        }
    }

    .ce-inline-toolbar {
        .ce-inline-toolbar__toggler-and-button-wrapper {
            .ce-inline-toolbar__buttons {
                button.ce-inline-tool--link {
                    display: none;
                }
            }
        }
    }
}